--pre
py-cord==2.0.0rc1
python-dotenv
pydotted
loguru
flask
flask_cors
pandas
watchdog
pyyaml
black
pymongo
dnspython
waitress
texttable
jsbeautifier
requests
Pillow
gunicorn
boto3
python-jose
flask-cors
six
dnspython
colorthief