py-cord==2.1.3
python-dotenv
pydotted
loguru
flask
flask_cors
pandas
watchdog
pyyaml
black
pymongo
dnspython
waitress
texttable
jsbeautifier
requests
Pillow
gunicorn
boto3
python-jose
flask-cors
six
dnspython
colorthief
algoliasearch>=2.0,<3.0
lz4
google-api-python-client
protobuf==3.20
docarray